body {
  font-family: "Noto Sans", sans-serif;
}

section {
  /*height: 500px;*/
  /*border: 2px black solid;*/
}

footer {
  background-color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
}

ul.show {
    display: block;
}
li {
  /*width: 100px;*/
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 40px;
}

p {
  margin: 0;
}
/*
.peter-pic {
  width: 400px;
  border-radius: 50%;
  border: 6px white solid;
}*/

.peter-pic {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 6px white solid;
  display: block;
}
.peter-pic-containter {
  display: flex;
  height: 350px;
  width: 350px;
  margin-right: 150px;
  align-items: center;
  /*border: red 2px solid;*/
}
.hero {
  height: 100vh;
  /*border:blue 2px solid;*/
  background-color: black;
}

.hero h1 {
  color: #0ff4c6;
  min-width: 300px;
  max-width: 600px;
}
.hero p {
  color: white;
  font-size: 20px;
}
.hero-text {
  margin-left: 50px;
  height: 100px;
 

  /*border: red 2px solid;*/
}



.hero-space {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  /*border: red 2px solid;*/
}

.not-hero {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 80px;
  background-color: #defff2;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  justify-content: center;
  /*height: 100%;*/

  /* border: rgb(89, 0, 255) 2px solid;*/
}

.project-container {
  display: flex;
  justify-content: space-evenly;

  /*border: rgb(0, 255, 234) 2px solid;*/
}

.project-card {
  height: 430px;
  width: 350px;
  /*box-shadow: 5px 5px 20px rgb(207, 202, 202);*/
  margin: 10px;
  /*border: red 2px solid;*/
}

.project-card a {
  color: black;
  font-size: 16px;
}

.project-image {
  width: 300px;
  height: 300px;
  /*border-radius: 50%;*/
}

.project h2 {
 /* margin-top: -120px;*/
}

hr {
  width: 200px;
}

.hamburger{
    display: none;
}

@media only screen and (max-width: 1240px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }



.hero-space {
    display: flex;
    flex-direction: column;
 /*
    flex-wrap: wrap;
    align-items: center;
   */
  }

}

@media only screen and (max-width: 1024px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }

.hero-space {
    display: flex;
    flex-direction: row;
 
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1240px){
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }



.hero-space {
    display: flex;
    flex-direction: row;

  }

}

@media only screen and (max-width: 768px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }


.peter-pic {
  max-width: 100%;
  height: auto;
  margin-left: 60px;
 
}

.peter-pic-containter {
 
  height: 500px;
  width: 500px;


}
.hero-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
}

  @media only screen and (max-width: 759px) {
  
    h1 {
      font-size: 30px;
      margin: 0;
    }
 
  
    .hamburger{
      display: block;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 30px;
  }
  
  ul{
      display: none;
  }
  .peter-pic {
    max-width: 100%;
    height: auto;
  
   
  }
  
  .peter-pic-containter {
   
    height: 300px;
    width: 300px;
  
  
  }
  .hero-space {
     
      flex-direction: column;
      
  
    }
  }
  @media only screen and (max-width: 480px) {
 
    h1 {
      font-size: 40px;
      margin: 0;
    }
 
  
    .hamburger{
      display: block;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 30px;
  }
  
  ul{
      display: none;
  }
  .peter-pic {
    max-width: 100%;
    height: auto;
  }
  
  .peter-pic-containter {
   
    height: 250px;
    width: 250px;
  
  }
  .hero-space {
     
      flex-direction: column;
      
  
    }
  }